.resizer {
  background: #555;
  transition: background 0.3s;
  
  &:hover {
    background: #777;
  }
}

.horizontal {
  width: 5px;
  height : auto;
  cursor: col-resize;
}

.vertical {
  height: 5px;
  width: auto;
  cursor: row-resize;
}
